html {
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container2 {
  display: flex;
  flex-direction: column;
  background-color: #eee;
}

#right{
  color:white;
  background-color: green;
}

#wrong{
  color:white;
  background-color: red;
}

#normal{
  background-color: white;
}

#inline{
  display: inline;
}
.miniBar{
  background-color: #00733A;
  height: 60px;
  color: white;
  font-size: 7px;
}
.together{
  display: flex;
  justify-content: space-between;
}

.messages {
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
}

.messages2 {
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  padding: 20px;
}

h3 {
  text-align: center;
  padding: 20px 0;
  margin: 0;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}

.chat-input {
  position: relative;
  overflow: hidden;
  padding: 0 40px;
  flex-shrink: 0;
}

.chat-input2{
  position: relative;
  overflow: hidden;
  padding: 0 40px;
  flex-shrink: 0;
}

.chat-input input[type="text"] {
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
}

.message.from-me .username {
  display: none;
}

.message.from-me {
  display: flex;
  justify-content: flex-start;
}

.message.from-me .message-body {
  background-color: #61a866;
  color: white;
}

.message {
  background-color: #61a866;
}
.message-body {
  max-width: 100%;
  padding: 10px;
  border: 1px;
  background-color: #eee;
}

.message-body2 {
  max-width: 80%;
  display: inline-block;
  padding: 10px;
  background-color: white;
  border: 1px;
  border-radius: 5px;
  padding-right: 50px;
}

.username {
  font-weight: bold;
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 5px;
}

.bubble{
background-color: #eaeaea;
border-radius: 100px;
display: inline-block;
padding: 7px;
}
